* {
  margin: 0;
  padding: 0;
}

/* @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css); */

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.asdfasdf{
  cursor: pointer;
  width: 100%;
}

.asdf2{
  margin-top:12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}